.header {
    .container-fluid {
      display: flex;
      flex-direction: column;
    }
  
    .top-section {
      background-color: #bebebeb5;
      padding: 10px 20px;
      display: flex;
      justify-content: flex-end; /* Đẩy sang phải */
      ul {
        display: flex;
        margin: 0;
        padding: 0;
        list-style: none;
        li {
          margin-left: 20px;
        }
        a {
          text-decoration: none;
          color: #000;
        }
      }
    }
  
    .middle-section {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 20px 0;
    }

    .shopping-cart {
        font-size: 25px;
        margin-right: 75px;
        padding: 10px;
        color: var(--accent-color);
        display: flex;
        align-items: center;
        justify-content: center;
        transition: background-color 0.3s ease, color 0.3s ease;
    }
    .cart-icon {
        cursor: pointer;
        padding: 10px;
        transition: background-color 0.3s ease, color 0.3s ease;
    }
    .cart-icon:hover {
        color: rgba(1, 78, 24, 0.768); 
    }

    .search-bar {
        display: flex;
        align-items: center;
        position: relative;
        width: 100%;
        max-width: 400px; // Giới hạn chiều rộng
        margin: 0 20px;
    }
    .search-input {
        flex: 1; // Chiếm tối đa không gian còn lại
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 4px 0 0 4px; // Cạnh trái bo tròn
        font-size: 16px;
        
    
        &:focus {
          border-color: var(--accent-color);
          outline: none;
          box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
        }
      }
      .search-icon {
        background-color: var(--accent-color); // Màu nền cho icon
        color: #fff;
        font-size: 20px;
        padding: 8px 12px;
        border-radius: 0 4px 4px 0; // Cạnh phải bo tròn
        cursor: pointer;
        margin-left: 1px;
        &:hover {
          background-color: rgba(1, 78, 24, 0.768); // Màu khi hover
        }
      }

  }
  

  